pkgbase = bat-cat-bin
	pkgdesc = A cat(1) clone with wings.
	pkgver = 0.13.0
	pkgrel = 1
	url = https://github.com/sharkdp/bat
	arch = x86_64
	license = Apache
	depends = gcc-libs
	depends = zlib
	provides = bat-cat
	conflicts = bat-cat-git
	options = !strip
	source = https://github.com/sharkdp/bat/releases/download/v0.13.0/bat_0.13.0_amd64.deb
	sha256sums = 70aa43695bb0fcf278999838d6b9e37356a170fea1cb866feaa927a1e709f3a0

pkgname = bat-cat-bin

